{% set intvars = interfaces[ansible_hostname] %}
# /etc/network/interfaces template for servers ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp


{% for iface in intvars['neighbors'] %}
auto {{ iface }}
iface {{ iface }} inet static
    address {{ intvars['neighbors'][iface].ip }}
    netmask {{ intvars['neighbors'][iface].mask }}
    up ip route add 10.0.0.0/8 via {{ intvars['neighbors'][iface].gateway }}
    up ip route add 172.16.0.0/16 via {{ intvars['neighbors'][iface].gateway }}
{% endfor %}
